<style>
    .jumbotron {
        background: url(https://www.yrt.ca/en/rotatingimages/navTab03/Interior-Our-Services.jpg);
        height: 500px;
        width: 1400px;
        margin-left: -130px;
    }

    #h1 {
        color: white;
        margin-top: 350px;
        font-size: 115px;
        font-weight: bold;
    }

    #div1 {
        height: 230px;
    }

    p.lead {
        margin-top: 70px;
        font-size: 50px;
        color: dimgrey;
        text-align: center;
    }

    #section1 .row {
        margin-left: 30px;
    }

    #section1 .col-md-4 img {
        height: 100px;
        width: 100px;
        margin-left: 130px;
    }

    #section1 .col-md-4 h1 {
        color: orangered;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }

    #section1 .col-md-4 p {
        color: slategrey;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #boat {
        margin-top: 100px;
    }

        #boat h1 {
            font-size: 50px;
            text-align: center;
            color: dimgrey;
            font-weight: bold;
        }

    #hr {
        width: 140px;
        text-align: center;
    }

    #section2 .row {
        height: 500px;
        margin-top: 100px;
        margin-left: -150px;
        margin-right: -70px;
    }

    #section2 .col-md-6 img {
        height: 500px;
        width: 700px;
    }

    #section2 .col-md-6 h1 {
        color: orangered;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
        margin-left: 110px;
    }

    #section2 .col-md-6 p {
        color: slategrey;
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
        margin-left: 110px;
        margin-right: 20px;
    }

    #section5 {
        height: 350px;
        background: url(https://livedemo00.template-help.com/wt_57806_v1/images/page-1_img01.jpg);
        margin-left: -110px;
        margin-right: -110px;
    }

        #section5 .col-md-3 {
            margin-top: 110px;
        }

            #section5 .col-md-3 h1 {
                text-align: center;
                color: white;
                font-size: 45px;
                color: orangered;
                font-weight: bold;
            }

            #section5 .col-md-3 p {
                text-align: center;
                color: white;
                font-size: 20px;
            }

    #boat2 {
        margin-top: 100px;
    }

        #boat2 h1 {
            font-size: 50px;
            text-align: center;
            color: orangered;
            font-weight: bold;
        }

        #boat2 p {
            font-size: 15px;
            text-align: center;
            margin-left: 55px;
            color: dimgray;
        }

    #boat3 {
        margin-left: 180px;
        margin-top: 50px;
    }

        #boat3 .col-md-4 {
            height: 370px;
            width: 350px;
            box-shadow: 2px 5px 4px 5px rgba(0,0,0,0.2);
        }

            #boat3 .col-md-4 h2 {
                color: orangered;
                margin-top: 25px;
                margin-left: 30px;
            }

            #boat3 .col-md-4 p {
                color: grey;
                font-size: 15px;
                margin-top: 15px;
                margin-left: 30px;
            }

    .end {
        background: url(https://www.xmple.com/wallpaper/single-plain-black-solid-color-one-colour-5120x2880-c-020617-f-24.svg);
        height: 100px;
        width: 1360px;
        margin-left: -110px;
        margin-top: -20px;
    }

        .end h3 {
            margin-top: 40px;
            text-align: center;
            color: white;
        }
</style>
<div class="jumbotron">
    <h1 id="h1">BarrieXPress</h1>
</div>
<div id="div1">
    <p class="lead">The easiest way to trip All Georgian Campuses!</p>
</div>

<div id="section1">
    <div class="row">
        <div class="col-md-4">
            <img src="https://image.flaticon.com/icons/svg/60/60727.svg" />
            <h1>GREAT SELECTION</h1>
            <p>We have a huge selection of vehicles to meet any taste and budget.</p>
        </div>

        <div class="col-md-4">
            <img src="https://image.flaticon.com/icons/svg/66/66726.svg" />
            <h1>HIGH QUALITY</h1>
            <p>Our services are only of the highest possible quality.</p>
        </div>

        <div class="col-md-4">
            <img src="https://image.flaticon.com/icons/svg/126/126422.svg" />
            <h1>
                THE LOWEST PRICES
            </h1>
            <p>Low prices are the cornerstone of our vision, business idea and concept.</p>
        </div>
    </div>
</div>

<div id="boat">
    <h1>OUR MISSION</h1>
    <hr id="hr" />
</div>

<div id="section2">
    <div class="row">
        <div class="col-md-6">
            <img src="http://arrowstagelines.com/wp-content/uploads/2018/08/Arrow-Stage-Corporate-Events-Motorcoach-Bus.jpg" />
        </div>
        <div class="col-md-6">
            <h1>OUR MISSION IS TO OFFER HIGH-QUALITY SERVICES TO OUR CUSTOMERS</h1>
            <p>
                Trans has set benchmarks in safety, security, performance, efficiency, punctuality,
                respectability, professionalism and reliability in the sector. The fully trained personnel
                with many years of background in the sector,
                bring a wealth of experience to the company and is one of its major assets.

            </p>
        </div>
    </div>
</div>

<div id="section2" style="margin-top:-100px;">
    <div class="row">
        <div class="col-md-6" style="width:680px;">
            <h1>
                OFFERING GREAT EXPERTISE<br />
                IN ALL YOUR LAND TRANSPORT NEEDS
            </h1>
            <p>
                We are the leading transportation company, offering<br /> bus and coach hire services to schools,
                businesses and <br />the general public. For more than 80 years, <br />we have focused on providing
                the best bus charter <br /> and hire services that allow people to explore <br />the country in comfort and style.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://www.yrt.ca/en/resourcesGeneral/instagramboxes/instagram_box_01.jpg" />
        </div>
    </div>
</div>

<div id="boat2">
    <h1>OUR MISSION</h1>
    <hr id="hr" />
    <p>
        We are always ready to help you. There are many ways to contact us. You may drop us a line, give us a call
        <br /> or send an email, choose what suits you most.
    </p>
</div>

<div id="boat3">
    <div class="row">
        <div class="col-md-4">
            <h2 style=" margin-top:50px;">
                OUR ADDRESS
            </h2>
            <p>
                OneGeorgian Dr., <br />Barrie ON
            </p>
            <h2>
                TELEPHONEs
            </h2>
            <p>
                +1 647 850 9230
            </p>
            <h2>
                E-MAIL
            </h2>
            <p>admin@barriexpress.com</p>
        </div>
        <div class="col-md-5" style="margin-left:80px;">
            <img src="https://ayokaflowers.com/wp-content/uploads/2017/08/contact-us.png" />
        </div>
    </div>
</div>

<div id="section5" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-3" style="margin-left: 63px;">
            <h1>49</h1>
            <p>Years of experience</p>
        </div>

        <div class="col-md-3" style="margin-left: -40px;">
            <h1>40+</h1>
            <p>Facilities in U.S. and Mexico</p>
        </div>

        <div class="col-md-3" style="margin-left: -40px;">
            <h1>22,000</h1>
            <p>Skilled drivers in our fleet</p>
        </div>

        <div class="col-md-3" style="margin-left: -40px;">
            <h1>2,00,000</h1>
            <p>Miles driven per year</p>
        </div>
    </div>
</div>

<div class="end">
    <div class="row">
        <div class="col-lg-12">
            <h3>Copyright ©2019 BarrieXPress Transportation Company.Privacy Policy</h3>
        </div>
    </div>

</div>